<div class="confirm">
  <h3>以下の内容で送信してもいいですか？</h3>

  <%= form_with(model: @tukutter, local: true) do |form| %>
    <%= form.hidden_field :content %>

    <p><%= @tukutter.content %></p>
    <%= form.submit "戻る", name: 'back' %>
    <%= form.submit "送信する" %>
  <% end %>
</div>
